@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto Mono, monospace;
    background-color: #141414;
}

.press-start-2p {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }